<div class="mt-4 flex flex-col gap-4 border-2 border-gray-400 p-2 rounded-lg">
	<div
		class="self-end cursor-pointer"
		(click)="closeForm()"
		title="Cerrar formulario"
	>
		<mat-icon>close</mat-icon>
	</div>
	<h2 class="text-center underline">Añade una mascota</h2>
	<input
	 	class="rounded-lg border-2 border-gray-300 p-2"
		type="text"
		[(ngModel)]="pet.name"
		name="name"
		required
		placeholder="Nombre de la mascota"
	>
	<input
	 	class="rounded-lg border-2 border-gray-300 p-2"
		type="text"
		[(ngModel)]="pet.birthDate"
		name="birthDate"
		required
		placeholder="Fecha de nacimiento"
	>
	<select
	 	class="rounded-lg border-2 border-gray-300 p-2"
		type="text"
		[(ngModel)]="pet.type"
		name="type"
		required
		placeholder="Tipo de mascota"
	>
		<option *ngFor="let type of petTypes" [ngValue]="type">{{type.name}}</option>
	</select>
	<button mat-flat-button color="primary" (click)="addPet()">Añadir</button>
</div>
