<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-600 border-2">
            <div class="xl:grid xl:grid-cols-2">
                <fuse-card
                    class="flex-col p-10 gap-y-4 max-w-120 w-full m-4"
                    *ngFor="let owner of owners"
                >
                    <owner-card
                        [owner]="owner"
                        [petTypes]="petTypes"
                    >
                    </owner-card>
                </fuse-card>
            </div>
        </div>


    </div>

</div>
